@import "tailwindcss";

@theme {
    --font-impact: Impact, "Arial Black", sans-serif;
    --font-bebas-neue: "Bebas Neue", sans-serif;
    --text-large: 10em;
    --font-lucida-handwriting: 'Lucida Handwriting', cursive;
    --font-palatino: 'Palatino', serif;

}

@layer base {
    html {
        @apply bg-black;
        width:100%;
    }
}